h1 {
  text-align: center;

}

h3 {
  text-align: center;

}

button{
  position: relative;
  left: 50%;
}

.container {
  position: relative;
  text-align: center;
  color: white;

}

.centeredtext {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
